
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /wordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wordpress/index.php [L]
</IfModule>

# END WordPress
# BEGIN HttpHeaders
# The directives (lines) between "BEGIN HttpHeaders" and "END HttpHeaders" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_headers.c>
  Header always set X-Content-Type-Options "nosniff"
  <FilesMatch "\.(php|html)$">
    Header set X-Frame-Options "SAMEORIGIN"
    Header set X-XSS-Protection "1; mode=block"
    Header set X-DNS-Prefetch-Control "on"
    Header set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload" env=HTTPS
  </FilesMatch>
</IfModule>
# END HttpHeaders
# BEGIN HttpHeadersAuth
# The directives (lines) between "BEGIN HttpHeadersAuth" and "END HttpHeadersAuth" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
# END HttpHeadersAuth
# BEGIN HttpHeadersCompression
# The directives (lines) between "BEGIN HttpHeadersCompression" and "END HttpHeadersCompression" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_filter.c>
  FilterDeclare HttpHeaders
  <IfModule mod_deflate.c>
    <IfModule !mod_brotli.c>
      FilterProvider HttpHeaders DEFLATE "%{HTTP:Accept-Encoding} =~ /gzip/ && (%{CONTENT_TYPE} =~ m#^(application/javascript|application/x-javascript|application/json|application/ld+json|application/manifest+json|application/rdf+xml|application/rss+xml|application/schema+json|application/vnd.geo+json|application/x-web-app-manifest+json|application/vnd.ms-fontobject|application/x-font-ttf|application/xhtml+xml|application/xml|font/opentype|font/eot|image/bmp|image/svg+xml|image/x-icon|image/vnd.microsoft.icon|text/javascript|text/css|text/html|text/plain|text/x-component|text/xml)# || %{REQUEST_FILENAME} =~ /.(php|html|js|css|json|xml|svg|txt|bmp|ico|ttf|otf|eot)$/)"
    </IfModule>
  </IfModule>
  <IfModule mod_brotli.c>
    FilterProvider HttpHeaders BROTLI_COMPRESS "%{HTTP:Accept-Encoding} =~ /br/ && (%{CONTENT_TYPE} =~ m#^(application/javascript|application/x-javascript|application/json|application/ld+json|application/manifest+json|application/rdf+xml|application/rss+xml|application/schema+json|application/vnd.geo+json|application/x-web-app-manifest+json|application/vnd.ms-fontobject|application/x-font-ttf|application/xhtml+xml|application/xml|font/opentype|font/eot|image/bmp|image/svg+xml|image/x-icon|image/vnd.microsoft.icon|text/javascript|text/css|text/html|text/plain|text/x-component|text/xml)# || %{REQUEST_FILENAME} =~ /.(php|html|js|css|json|xml|svg|txt|bmp|ico|ttf|otf|eot)$/)"
  </IfModule>
  FilterChain HttpHeaders
</IfModule>
# END HttpHeadersCompression
# BEGIN HttpHeadersContentType
# The directives (lines) between "BEGIN HttpHeadersContentType" and "END HttpHeadersContentType" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
# END HttpHeadersContentType
# BEGIN HttpHeadersExpires
# The directives (lines) between "BEGIN HttpHeadersExpires" and "END HttpHeadersExpires" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
# END HttpHeadersExpires
# BEGIN HttpHeadersCookieSecurity
# The directives (lines) between "BEGIN HttpHeadersCookieSecurity" and "END HttpHeadersCookieSecurity" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
# END HttpHeadersCookieSecurity
# BEGIN HttpHeadersTiming
# The directives (lines) between "BEGIN HttpHeadersTiming" and "END HttpHeadersTiming" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
# END HttpHeadersTiming